<mat-toolbar color="primary">
  <span>AWPM</span>
  <span class="nav-spacer"></span>
  <button mat-raised-button routerLink="/">
    <mat-icon aria-hidden="false" aria-label="Products List" fontIcon="list">list</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">

    <!-- Product name -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product name</mat-label>
        <input matInput placeholder="Adjustable Race" formControlName="name" required>
        <mat-error *ngIf="addProductForm.controls['name'].invalid">You must enter a value</mat-error>
      </mat-form-field>
    </div>

    <!-- Product number -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product number</mat-label>
        <input matInput placeholder="AR-5381" formControlName="number" required>
      </mat-form-field>
    </div>

    <!-- Product origin -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a product origin</mat-label>
        <mat-select formControlName="origin" required>
          <mat-option [value]="0">Purchased</mat-option>
          <mat-option [value]="1">Manufactured In-House</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Is product salable -->
    <div class="input-container">
        <mat-label style="display: block">Is the product salable ?</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="salable" required>
          <mat-radio-button [value]="1">Yes</mat-radio-button>
          <mat-radio-button [value]="0">No</mat-radio-button>
        </mat-radio-group>
    </div>

    <!-- Product color -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product color</mat-label>
        <input matInput placeholder="Black" formControlName="color">
      </mat-form-field>
    </div>

    <!-- Product safetyStockLevel -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product safety stock level</mat-label>
        <input type="number" matInput placeholder="1000" formControlName="safetyStockLevel" required>
      </mat-form-field>
    </div>

    <!-- Product reorderPoint -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product reorder point</mat-label>
        <input type="number" matInput placeholder="200" formControlName="reorderPoint" required>
      </mat-form-field>
    </div>

    <!-- Product standardCost -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product standard cost</mat-label>
        <input type="number" matInput placeholder="1.50" formControlName="standardCost" required>
      </mat-form-field>
    </div>

    <!-- Product listPrice -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product selling price</mat-label>
        <input type="number" matInput placeholder="20" formControlName="listPrice" required>
      </mat-form-field>
    </div>

    <!-- Product size -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product size</mat-label>
        <mat-select formControlName="size">
          <mat-option value="S">Small</mat-option>
          <mat-option value="M">Medium</mat-option>
          <mat-option value="L">Large</mat-option>
          <mat-option value="XL">Extra Large</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Product weight -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter a product weight</mat-label>
        <input type="number" matInput placeholder="58" formControlName="weight">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select an unit for product weight</mat-label>
        <mat-select formControlName="weightUnitMeasureCode">
          <mat-option value="LB">LB</mat-option>
          <mat-option value="G">G</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Product daysToManufacture -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter how many days needed for product to be manufactured</mat-label>
        <input type="number" matInput placeholder="2" formControlName="daysToManufacture" required>
      </mat-form-field>
    </div>

    <!-- Product productLine -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a product line</mat-label>
        <mat-select formControlName="productLine">
          <mat-option value="R">Road</mat-option>
          <mat-option value="M">Moutain</mat-option>
          <mat-option value="T">Touring</mat-option>
          <mat-option value="S">Standard</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Product class -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a product class</mat-label>
        <mat-select formControlName="class">
          <mat-option value="H">High</mat-option>
          <mat-option value="M">Medium</mat-option>
          <mat-option value="L">Low</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Product style -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a product style</mat-label>
        <mat-select formControlName="style">
          <mat-option value="W">Womens</mat-option>
          <mat-option value="M">Mens</mat-option>
          <mat-option value="U">Universal</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Product subcategory -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a product subcategory</mat-label>
        <mat-select formControlName="productSubcategory">
          <mat-option *ngFor="let s of subcategories" [value]="s.ProductSubcategoryID">{{ s.SubcategoryName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Product model -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a product model</mat-label>
        <mat-select formControlName="productModel">
          <mat-option *ngFor="let m of models" [value]="m.ProductModelID">{{ m.ModelName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Product sellStartDate -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Choose a start sell date</mat-label>
        <input matInput [matDatepicker]="startSellDate" formControlName="startSellDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="startSellDate"></mat-datepicker-toggle>
        <mat-datepicker #startSellDate></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Product sellEndDate -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Choose a start end date</mat-label>
        <input matInput [matDatepicker]="endSellDate" formControlName="endSellDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="endSellDate"></mat-datepicker-toggle>
        <mat-datepicker #endSellDate></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Product discontinuedDate -->
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Choose a discontinued date</mat-label>
        <input matInput [matDatepicker]="discontinuedDate" formControlName="discontinuedDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="discontinuedDate"></mat-datepicker-toggle>
        <mat-datepicker #discontinuedDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="submit-button-container">
      <button mat-button type="submit" color="primary" class="submitButton" [disabled]="!addProductForm.valid">Add this product</button>
    </div>
  </form>
</div>


