.nav-spacer
  flex: 1 1 auto

.input-container
  display: block
  padding: 10px
  text-align: center

.mat-radio-button ~ .mat-radio-button
  margin-left: 16px

.submit-button-container
  text-align: center

.submitButton
  padding: 10px 15px
  margin-top: 20px
  margin-bottom: 40px
  border-radius: 5px
  border: 1px solid #000000
  cursor: pointer
