<mat-toolbar color="primary">
  <span>AWPM</span>
  <span class="nav-spacer"></span>
  <button mat-raised-button routerLink="/add-product">
    <mat-icon aria-hidden="false" aria-label="Add a product" fontIcon="add">add</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <mat-form-field appearance="standard" class="product-filter-input">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Race" #input>
  </mat-form-field>
</div>

<div class="global-container mat-elevation-z8">
  <div class="loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="product-table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="table">

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <!-- ProductNumber Column -->
      <ng-container matColumnDef="ProductNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> ProductNumber </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductNumber}} </td>
      </ng-container>

      <!-- MakeFlag Column -->
      <ng-container matColumnDef="Origin">
        <th mat-header-cell *matHeaderCellDef> Origin </th>
        <td mat-cell *matCellDef="let element"> {{element.MakeFlag.data[0] === 0 ? 'Purchased' : 'Manufactured in-house'}} </td>
      </ng-container>

      <!-- FinishedGoodsFlag Column -->
      <ng-container matColumnDef="Salable">
        <th mat-header-cell *matHeaderCellDef> Salable </th>
        <td mat-cell *matCellDef="let element"> {{element.FinishedGoodsFlag.data[0] ? 'Not salable' : 'Salable' }} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by color"> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.Color}} </td>
      </ng-container>

      <!-- SafetyStockLevel Column -->
      <ng-container matColumnDef="SafetyStockLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by safety stock level"> SafetyStockLevel </th>
        <td mat-cell *matCellDef="let element"> {{element.SafetyStockLevel}} </td>
      </ng-container>

      <!-- ReorderPoint Column -->
      <ng-container matColumnDef="ReorderPoint">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by reorder point"> ReorderPoint </th>
        <td mat-cell *matCellDef="let element"> {{element.ReorderPoint}} </td>
      </ng-container>

      <!-- StandardCost Column -->
      <ng-container matColumnDef="StandardCost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by standard cost"> StandardCost </th>
        <td mat-cell *matCellDef="let element"> {{element.StandardCost}} </td>
      </ng-container>

      <!-- ListPrice Column -->
      <ng-container matColumnDef="ListPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by list price"> ListPrice </th>
        <td mat-cell *matCellDef="let element"> {{element.ListPrice}} </td>
      </ng-container>

      <!-- Size Column -->
      <ng-container matColumnDef="Size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by size"> Size </th>
        <td mat-cell *matCellDef="let element"> {{element.Size}} {{element.SizeUnitMeasureCode}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.Weight}} {{element.WeightUnitMeasureCode}} </td>
      </ng-container>

      <!-- DaysToManufacture Column -->
      <ng-container matColumnDef="DaysToManufacture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by days to manufacture"> DaysToManufacture </th>
        <td mat-cell *matCellDef="let element"> {{element.DaysToManufacture}} </td>
      </ng-container>

      <!-- ProductLine Column -->
      <ng-container matColumnDef="ProductLine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by product line"> ProductLine </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductLine}} </td>
      </ng-container>

      <!-- Class Column -->
      <ng-container matColumnDef="Class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by class"> Class </th>
        <td mat-cell *matCellDef="let element"> {{element.Class}} </td>
      </ng-container>

      <!-- Style Column -->
      <ng-container matColumnDef="Style">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by style"> Style </th>
        <td mat-cell *matCellDef="let element"> {{element.Style}} </td>
      </ng-container>

      <!-- SubcategoryName Column -->
      <ng-container matColumnDef="SubcategoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by subcategory name"> SubcategoryName </th>
        <td mat-cell *matCellDef="let element"> {{element.SubcategoryName}} </td>
      </ng-container>

      <!-- ModelName Column -->
      <ng-container matColumnDef="ModelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by model name"> ModelName </th>
        <td mat-cell *matCellDef="let element"> {{element.ModelName}} </td>
      </ng-container>

      <!-- CatalogDescription Column -->
      <ng-container matColumnDef="CatalogDescription">
        <th mat-header-cell *matHeaderCellDef> CatalogDescription </th>
        <td mat-cell *matCellDef="let element"> {{element.CatalogDescription}} </td>
      </ng-container>

      <!-- Instructions Column -->
      <ng-container matColumnDef="Instructions">
        <th mat-header-cell *matHeaderCellDef> Instructions </th>
        <td mat-cell *matCellDef="let element"> {{element.Instructions}} </td>
      </ng-container>

      <!-- SellStartDate Column -->
      <ng-container matColumnDef="SellStartDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sell start date"> SellStartDate </th>
        <td mat-cell *matCellDef="let element"> {{element.SellStartDate | date: 'yyyy/MM/dd'}} </td>
      </ng-container>

      <!-- SellEndDate Column -->
      <ng-container matColumnDef="SellEndDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sell end date"> SellEndDate </th>
        <td mat-cell *matCellDef="let element"> {{element.SellEndDate | date: 'yyyy/MM/dd'}} </td>
      </ng-container>

      <!-- DiscontinuedDate Column -->
      <ng-container matColumnDef="DiscontinuedDate">
        <th mat-header-cell *matHeaderCellDef> DiscontinuedDate </th>
        <td mat-cell *matCellDef="let element"> {{element.DiscontinuedDate | date: 'yyyy/MM/dd'}} </td>
      </ng-container>

      <!-- ModifiedDate Column -->
      <ng-container matColumnDef="ModifiedDate">
        <th mat-header-cell *matHeaderCellDef> ModifiedDate </th>
        <td mat-cell *matCellDef="let element"> {{element.ModifiedDate | date: 'yyyy/MM/dd'}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                   showFirstLastButtons
                   aria-label="Select page of products">
    </mat-paginator>
  </div>
</div>
