.nav-spacer
  flex: 1 1 auto

td.mat-cell, th.mat-header-cell
  padding: 0 20px !important

.product-table
  width: 100%

.mat-form-field
  font-size: 14px
  width: 100%

td, th
  width: 25%

.global-container
  position: relative

.product-table-container
  position: relative
  overflow: auto

table
  width: 100%

.loading-shade
  position: absolute
  top: 0
  left: 0
  bottom: 56px
  right: 0
  background: rgba(0, 0, 0, 0.15)
  z-index: 1
  display: flex
  align-items: center
  justify-content: center

.rate-limit-reached
  max-width: 360px
  text-align: center

.product-filter-input
  margin: 0 20px
  width: 95%
